
html {
    font-size: 16px;
    line-height: 1.4px;
}

body {
    color: #2b2b2b;
    font-family: 'Source sans pro', 'sans-serif'; 
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0;
}

header {
    background: url(../img/hero.png) center no-repeat #efeeef;
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
}

.full-width {
    padding: 0%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    width: 100%;

}

header h1 {
    color: #bbc085;
    font-family: 'Lora', serif;
    font-size: 3.125em;
    font-weight: 700;
    padding: 20px 0 0 20px;
    text-align: center;


}


/***** BASE STYLES *****/
* {
    box-sizing: border-box;
  }



#about, #work, #contact {
    display: flex;
    align-items: center;
    
}

header nav {
    padding: 60px 0px 50px 0px;
    display: flex;
    align-items: center;
    margin-left: 20%;
    

}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    width: 80%;
}

 header nav ul li {
    display: flex;
    align-items: center;
    width: 50%;
}
header nav ul li a {
    color: #828282;
    font-family: 'source sans pro';
    font-size: 1.125em;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 70px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header h2 {
    color: #9b9b9b;
    font-size: 3.125em;
    font-family: 'lora'; 
    line-height: 80px;
    padding: 20px 20px 100px 20px;
    margin: 0;
    text-align: center;
    width: 80%;
}

header span {
    color: #2b2b2b;
}
/***** ABOUT *****/

#about .full-width {
    padding: 40px 20px;
    margin: 5%;
    width: 100%;
}

#about h2 {
    font-family: 'lora';
    color: #2b2b2b;
    font-size: 1.75em;
    line-height: 40px;
    width: 80%;
    text-align: center;
    
}

#about p {
    font-family: 'source sans pro';
    font-size: 1.31em;
    color: #7f7f7f;
    line-height: 40px;
    padding: 0px;

}

/***** WORK *****/

#work {
    background-color:#bbc085;
    background: cover;
    text-align: center; 
}

#work .full-width {
    width: 100%;
    flex-flow: column wrap;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
    padding:20px;
}

#work h3 {
    font-size: 1.5em;
    line-height: 32px;
    color: #2b2b2b;
    font-family: 'source sans pro';
    margin: 0 auto;
    padding-top: 50px;
   
}

#work p {
    font-size: 1.125em;
    line-height: 30px;
    font-family: 'lora';
    color: #2b2b2b;
    padding: 0 50px;
}

/***** CONTACT *****/

#contact {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;

    
}
#contact .full-width {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#contact figure {
    margin: 0;
    padding: 20px;
}

#contact figure img {
    max-width: 100%;
    justify-content: center;
    margin: 0;
    border: #ffffff 12px solid;
}

#contact figure #envelope  {
    margin-left: 0px;
    padding: 0px;
    border: none;
}

#contact h2, #contact #email-header, #contact #socialmedia-header  {
    padding: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
   
#contact h2 {
    font-family: 'lora';
    color: #2b2b2b;
    line-height: 44px;
    font-size: 2.4em;
}

#contact #email-header {
    color: #2b2b2b;
    line-height: 44px;
    font-size: 1.5em;
    font-family: 'source sans pro';
    margin: 0;
    font-weight: 400;
    padding: 20px;

} 

#contact #socialmedia-header {
    font-weight: 700;
    font-size: 1.81em;
    font: 'source sans pro';
    text-decoration-line: none;
    line-height: 50px;
    padding: 20px;
}

#contact a {
    color: #828282;
    text-decoration: none;
    font-size: 1.75em;
    font-family: 'source sans pro';
    line-height: 44px;
}


/*****Media queries****/
/*****Tablet styles*****/

@media all and (min-width: 768px) {
    header h1 {
        padding: 0px;
        display: flex;
        justify-content: flex-start;
    }

    .full-width {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 5%;
    }

    .half-width {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    nav ul a {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 20px;
    
    }

}


/*****Desktop styles*****/

@media all and (min-width: 1200px) {


    .full-width {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }

    .half-width {
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .third-width {
        width: 33%;
        display: flex;
        flex-direction: column;
    }

    header h1 {
        display: flex;
        margin: 0;
        padding: 0;
        align-items: left;
        width: 40%;
    }

    header nav {
        width: 30%;
    }

    header nav ul {
        width: 30%;
    }

    #about h2 {
        display: flex;
        justify-content: left;
        align-items: left;
    }

    #work .full-width {
        display: flex;
        flex-direction: row;
    }

    #contact-info .half-width {
        display: flex;
        justify-content: space-evenly;
    }
}